page-order {
    .refresh-btn-top{
        font-size: 25px;
    }
    .order-green button {
        background-color: #4cd561;
        color: white;
    }
    .order-red button {
        background-color: #ff837f;
        color: white;
    }
}
