page-venuelist {
    .first-item {
        max-height: 18px;
        background-color:#F5F5F5;
        font-size: 13px;
        padding-left: 0px;
        color: #757575;

        .input-wrapper {
                padding: 0px;

                .label {
                    max-height: 18px;
                    padding-bottom: 1px;
                    padding-top: 1px;
                    margin: 0;
                }
        }
    }
}
