<ion-header>
  <ion-navbar>
    <ion-title>Cart</ion-title>
    <ion-buttons end>
      <button ion-button icon-only>
        <ion-icon name="ios-cart"></ion-icon>
        <!--TODO Change cart icon-->
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content no-padding>
  <ion-list *ngIf="orderList.length > 0" no-padding>

    <ion-item text-center class="first-item">
      Cart Summary
    </ion-item>

    <ion-item *ngFor="let order of orderList">
      <div style="width: 30%;display: inline-block">{{ order.name }}</div>
      <div style="width: 35%;font-size:11px;display: inline-block">{{order.sub_name}}</div>
      <div style="width:8%;display: inline-block">{{order.qty}}</div>
      <div style="text-align: right;width:20%;display: inline-block"><b>{{order.price * order.qty}}</b></div>
    </ion-item>

    <ion-item>
      <div style="font-size:20px; float: left;">Total</div>
      <div style="text-align: right;font-size:20px ;float: right"><b>{{ total }}</b></div>

    </ion-item>
  </ion-list>
  <div class="no-list" text-center *ngIf="orderList.length == 0">
    <ion-icon name="ios-warning-outline"></ion-icon>
    <h5>No Item added to Cart</h5>
    <p>There are no </p>
  </div>
</ion-content>