
<ion-header>

  <ion-navbar>
    <ion-title>menu</ion-title>
  </ion-navbar>

  

</ion-header>


<ion-content padding>


    <ion-list >
        <ion-item  *ngFor="let group of cart.groups ;let i =index" class="item-stable" >
            <button ion-item (click)="toggleGroup(i)" detail-none>
            <ion-icon item-right name="md-arrow-dropleft" *ngIf="!group.check"></ion-icon>
            <ion-icon item-right name="md-arrow-dropdown" *ngIf="group.check"></ion-icon>
          &nbsp;
          Menu {{group.name}}
        </button>
        <ion-list *ngIf="group.check">
        <ion-item *ngFor="let item of group.items;let j=index">

          <button ion-item (click)="add_quantity(i,j)" detail-none>
          &nbsp; 
           Item {{item.itemno}} <ion-icon ios="ios-basket" md="md-basket" style="float:right; color: aqua;">{{item.quantity}}</ion-icon>
        </button>

        </ion-item>
        </ion-list>
      </ion-item>
      <ion-item></ion-item>
    </ion-list>


</ion-content>

<ion-footer *ngIf="cart.checkt"> 
    <button (click)="checkout()" ion-button color="secondary" full bottom style="margin: 0px;height: 48px;">Checkout</button>
</ion-footer>